/* full page center */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
  font-family: Arial, sans-serif;
}

/* card */
.login-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* title */
.login-box h2 {
  margin-bottom: 20px;
  color: #1877f2;
}

/* input */
.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

/* buttons */
.login-btn {
  width: 100%;
  background: #1877f2;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.login-btn:hover {
  background: #166fe5;
}

.register-btn {
  width: 100%;
  background: #42b72a;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.register-btn:hover {
  background: #36a420;
}